# deps
node_modules
.pnpm-store

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# build output
dist
build
out
coverage
*.tsbuildinfo

# env / secrets
.env
.env.*
!.env.example

# OS/editor
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea

# misc
*.swp
